.inverse-link-and-folder-card {
  font-size: 0.75em;
  padding: 0.5rem;
  list-style: none;
  margin-top: 3rem;
  margin-bottom: 0;
  
  display: flex;
  flex-wrap: wrap;
}

.inverse-link-and-folder-card-title {
  font-size: 1.25em;
  width: 100%;
  padding: 0.5rem 0;
}

.inverse-link-and-folder-card-sub-title {
  font-size: 1em;
  width: 100%;
  padding: 0.25rem 0;
}

.inverse-link-and-folder-card-reference {
  width: 250px;
  max-width: 50%;
}
@media (max-width: 815px) {
  .inverse-link-and-folder-card-reference {
    width: 50%;
  }
}

.inverse-link-and-folder-card-reference > a.tc-tiddlylink {
  color: inherit;
  background: inherit;
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  height: 130px;
  overflow: hidden;
  position: relative;
  transition: all 0.125s ease;
}
@media (max-width: 815px) {
  .inverse-link-and-folder-card-reference > a.tc-tiddlylink {
    height: 80px;
  }
}

.inverse-link-and-folder-card-reference > a.tc-tiddlylink:hover {
  text-decoration: none;
}

.inverse-link-and-folder-card-content a.tc-tiddlylink {
  color: inherit !important;
  text-decoration: none !important;
  pointer-events: none;
}