.inverse-link-and-folder-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
  list-style-type: none;
}
.inverse-link-and-folder-list {
	overscroll-behavior: contain;
	overflow-y: -moz-scrollbars-none;
}
.inverse-link-and-folder-list::-webkit-scrollbar {
	width: 0 !important
}

.inverse-link-and-folder-list li a,
.inverse-link-and-folder-list li a:hover {
  line-height: unset;
  background-color: unset;
  border: none;
  padding: 5px;
  line-height: 1.8;
}
